@charset"utf-8";

body {
  overflow: hidden;
  overflow-y: auto;
  background: #ffffff;
}

.navbar {
  background: 0;
  width: calc(100% - var(--default_padding) - var(--default_padding));
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--default_padding);
  z-index: 1100;
}

.navbar .background {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  background: #ffffff;
  z-index: 1;
  transition: var(--transitions)ease;
}

.navbar .background.sticky {
  height: 60px;
}

.navbar.sticky {
  background: #ffffff;
  border-bottom: .5px solid #00000041;
}

.navbar .background.sticky ~ div p {
  background: linear-gradient(20deg, #401fffc4, #008bfa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar .background.sticky ~ div svg {
  stroke: #000000;
}

.navbar div {
  width: 100%;
  z-index: 3;
}

.navbar div:nth-child(2) p {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}

.navbar div:last-child {
  text-align: right;
}

.navbar div:last-child svg {
  margin-top: -5px;
  stroke: #ffffff;
}

.introduction .merry-go-round {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

.controller {
  width: 50px;
  border-radius: 8em;
  border: 2px solid #ffffff;
  color: #ffffff;
  margin: var(--default_padding);
  opacity: 1;
  animation: startup_button var(--transitions)ease;
}

@keyframes startup_button {
  0% {
    opacity: 0;
    margin-top: -20px;
  }

  100% {
    opacity: 1;
    margin-top: 20px;
  }
}

.controller.deactivated {
  margin-top: 100px;
  opacity: 0;
}

.controller label {
  background: #ffffff;
}

.controller svg {
  stroke: #ffffff;
}

.next {
  z-index: 10;
  overflow: hidden;
  height: 50px;
  transition: var(--transitions)ease;
  display: flex;
  flex-direction: row;
  text-align: right;
}

.next span:first-child {
  margin-left: -60px;
  margin-top: 13px;
  transition: var(--transitions)ease;
  opacity: 0;
}

.next label {
  width: 0;
  height: 2px;
  margin-top: 21px;
  transition: var(--transitions)ease;
}

.next.active label {
  width: 20px;
  height: 2px;
  margin-top: 21px;
  margin-right: -16px;
  margin-left: 12px;
}

.next svg {
  margin-left: 12px;
  margin-bottom: -20px;
  transition: var(--transitions)ease;
}

.next.active svg {
  margin-left: 0;
  margin-bottom: -20px;
  transition: var(--transitions)ease;
}

.next.active {
  width: 130px;
}

.next.active span:first-child {
  margin-left: 12px;
  opacity: 1;
}

.next.active span svg {
  margin-left: 0px;
}

.next:hover label {
  width: 20px;
  height: 2px;
  margin-top: 21px;
  margin-right: -16px;
  margin-left: 12px;
  border-radius: 8em;
}

.next:hover svg {
  margin-left: 0;
  margin-bottom: -20px;
  transition: var(--transitions)ease;
}

.next:hover {
  width: 130px;
}

.next:hover span:first-child {
  margin-left: 12px;
  opacity: 1;
}

.next:hover span svg {
  margin-left: 0px;
}


.back {
  z-index: 10;
  display: none;
  overflow: hidden;
  height: 50px;
  transition: var(--transitions)ease;
  flex-direction: row;
}


.back span:last-child {
  margin-left: -95px;
  margin-top: 13px;
  transition: var(--transitions)ease;
  opacity: 0;
}

.back label {
  width: 0;
  height: 2px;
  margin-top: 21px;
  border-radius: 8em;
  transition: var(--transitions)ease;
}

.back.active label {
  width: 20px;
  height: 2px;
  margin-top: 21px;
  margin-left: -16px;
  margin-right: 12px;
}

.back svg {
  margin-left: 10px;
  margin-bottom: -20px;
  transition: var(--transitions)ease;
}

.back.active {
  width: 130px;
}

.back.active span:last-child {
  margin-left: 0px;
  opacity: 1;
}

.back.active span svg {
  margin-left: 0px;
}


@media screen and (min-width: 1500px) {

  .back:hover label {
    width: 20px;
    height: 2px;
    margin-top: 21px;
    margin-left: -16px;
    margin-right: 12px;
  }

  .back:hover {
    width: 130px;
  }

  .back:hover span:last-child {
    margin-left: 0px;
    opacity: 1;
  }

  .back:hover span svg {
    margin-left: 0px;
  }
}

.introduction .merry-go-round .highlight_element {
  width: 0;
  border: 0;
  overflow-x: hidden;
  transition: var(--transitions)ease;
  opacity: 1;
  z-index: 5;
  position: relative;
  text-align: left;
  padding-top: 160px;
  padding-bottom: 130px;

}

.introduction .merry-go-round .highlight_element:after {
  content: '';
  position: absolute;
  inset: 0;
  background: #401fffc4;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .6;
}

.introduction .merry-go-round .highlight_element .video_background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: none;
}

.introduction .merry-go-round .highlight_element.h2 .video_background {
  display: none;
}


.introduction .merry-go-round .highlight_element.h1 {
  height: 100%;
  width: 100%;
  background-image: url('../media/img_about_01.jpg');
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.introduction .merry-go-round .highlight_element h1 {
  color: #ffffff;
  z-index: 11;
  margin-top: 0;
  padding: var(--default_padding);
  font-weight: 200;
  font-size: 35px;
  opacity: 1;
  transition: var(--transitions)ease;
  animation: startup_title var(--transitions)ease;
}

@keyframes startup_title {
  0% {
    opacity: 0;
    margin-top: -100px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}


@media screen and (min-width: 1500px) {

  .introduction .merry-go-round .highlight_element h1 {
    font-size: 45px;
  }
}


.introduction .merry-go-round .highlight_element h1.deactivated {
  margin-top: 0;
  opacity: 0;
}

.introduction .merry-go-round .highlight_element.h2 {
  background-image: url('../media/banner_4.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  margin-right: -100%;
}


.contact {
  padding: 50px 11% 40px;
  background: #eeeeee;
  text-align: left;
  border-top-left-radius: 1.2em;
  border-top-right-radius: 1.2em;
}

.main-contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 2rem;
  align-items: center;
}

.contact-content h5 {
  font-size: 1.1rem;
  margin-bottom: 20px;
  background: linear-gradient(20deg, #401fffc4, #008bfa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-content li {
  margin-bottom: 12px;
  list-style-type: none;
  display: block;
  font-size: 15px;
  color: #374151;
  font-weight: 400;
  transition: all .45s ease;
  text-decoration: none;
}

.contact-content li:hover {
  color: var(--text-color);
  transform: translateX(5px);
}




.side_menu {
  padding: var(--default_padding);
  padding-top: 130px;
  position: fixed;
  top: 0;
  left: auto;
  right: -100%;
  width: calc(100% - var(--default_padding) - var(--default_padding));
  height: 100vh;
  background: #ffffff;
  z-index: 1000;
  overflow-y: auto;
  transition: var(--transitions)ease;
}

.side_menu.active {
  right: 0;
}

.side_menu .option {
  border-radius: 1em;
}

.side_menu .option .name {
  background: #EFEFEF;
  font-weight: 700;
  border-radius: 1em;
}

.side_menu .option .sub_options .sub_option {
  display: flex;
  flex-direction: row;
}

.side_menu .option .sub_options .sub_option  span {
  opacity: .8;
  width: 100%;
}

.side_menu .option .sub_options .sub_option span:last-child {
  text-align: right;
}

.side_menu .option div {
  padding: 20px;
}


.get_to_know_us {
  background: #ffffff;
  padding-top: calc(var(--default_padding) + var(--default_padding));
}

.get_to_know_us .content {
  display: flex;
  flex-direction: row;
}

.get_to_know_us .title {
  font-size: 35px;
  text-align: left;
  padding-left: var(--default_padding);
  padding-right: var(--default_padding);
}

.get_to_know_us p {
  margin-bottom: 40px;
  opacity: .7;
  margin-top: var(--default_padding);
  text-align: left;
  padding-left: var(--default_padding);
  padding-right: var(--default_padding);
}

.get_to_know_us .image img {
  width: 300px;
  display: none;
}

.get_to_know_us .button_up {
  display: flex;
  flex-direction: row;
  position: relative;
}

.get_to_know_us .button_up .name {
  margin-left: 20px;
  margin-top: 10px;
  color: #401fffc4;
  font-weight: 700;
  font-size: 20px;
}

.controller_2 {
  position: relative;
  border-radius: 0;
  border-bottom: none;
  color: #000000;
  margin: var(--default_padding);
  opacity: 1;
  animation: startup_button var(--transitions)ease;
  width: 130px;
}

.controller_2 .marker {
  border-radius: 8em;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 3px;
  background: #401fffc4;
  transition: var(--transitions)ease;
}

.controller_2:hover .marker {
  width: 130px;
}

.controller_2.deactivated {
  margin-top: 100px;
  opacity: 0;
}

.controller_2 label {
  background: #401fffc4;
}

.controller_2 svg {
  stroke: #401fffc4;
}
/*
@media screen and (min-width: 1500px) {

  .get_to_know_us .title {
    font-size: 45px;
  }
}*/


.get_to_know_us.third_page .button_up .name {
  color: #ffffff;
}

.get_to_know_us.third_page {
  margin-top: 100px;
  background: linear-gradient(-25deg, #401fffc4, #008bfa);
}

.get_to_know_us.third_page .title_third_page {
  transform: translateX(-100%);
  transition: var(--transitions) ease;
}

.get_to_know_us.third_page .title_third_page.active {
  transform: translateX(0);
}

.get_to_know_us.third_page .subtitle_third_page {
  transform: translateX(100%);
  transition: var(--transitions) ease;
}

.get_to_know_us.third_page .subtitle_third_page.active {
  transform: translateX(0);
}

.get_to_know_us.third_page .title {
  color: #ffffff;
}

.get_to_know_us.third_page p {
  color: #ffffff;
}

.get_to_know_us.third_page .controller_2 .marker {
  background: #ffffff;
}

.get_to_know_us.third_page .controller_2 label {
  background: #ffffff;
}

.get_to_know_us.third_page .controller_2 svg {
  stroke: #ffffff;
}

.get_to_know_us.third_page .containment_list_benefits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 2rem;
  align-items: center;
  padding: var(--default_padding);
  padding-bottom: var(--default_padding);
}

.get_to_know_us.third_page  .containment_list_benefits .benefits {
  border-radius: 1.2em;
  text-align: center;
  position: relative;
  background: linear-gradient(-25deg, #ffffff00, #ffffff32, #ffffff00);
}

.get_to_know_us.third_page  .containment_list_benefits .benefits .label {
  position: absolute;
  top: -12px;
  left: 0;
  text-align: left;
  width: 100%;
}

.get_to_know_us.third_page  .containment_list_benefits .benefits .label span {
  webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  padding: 8px 14px 8px 14px;
  background: #ffffff32;
  color: #ffffff;
  border-radius: 1.2em;
  margin-left: var(--default_padding);
}

.get_to_know_us.third_page  .containment_list_benefits .benefits svg {
  width: 75px;
  height: 75px;
  margin-top: var(--default_padding);
  margin-bottom: var(--transitions);
  stroke: #ffffff;
}

.get_to_know_us.third_page  .containment_list_benefits .benefits .text_container .title_benefits {
  color: #ffffff;
}