@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*======= CSS variables =======*/
:root {
  --white-color: #fff;
  --dark-color: #222;
  --body-bg-color: #fff;
  --section-bg-color: #202834;
  --navigation-item-hover-color: #3b5378;

  --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);

  --scroll-bar-color: #fff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;
}

html {
  scroll-behavior: smooth;
}

.is-down {
  transform: translateX(-15%);
  opacity: 0;
}

.is-up {
  transform: translateX(0);
  opacity: 1;
}

.stars-down .bar:after {
  width: 0;
}

.statistics-down .bar:after {
  width: 0;
}

/*======= Scroll bar =======*/
::-webkit-scrollbar {
  width: 11px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background: var(--scroll-thumb-color);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover-color);
}

/*======= Main CSS =======*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--body-bg-color);
}

section {
  position: relative;
  overflow: hidden;
  width: 100%;
}

/*========== Slides ==========*/


.gallery {
  margin: 70px auto;
  position: relative;
  width: 100%;
  height: 250px;
  max-height: 250px;
  overflow: hidden;
}

.gallery:before,
.gallery:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  z-index: 3;
}
/*
.gallery:before {
  left: 0;
  background:  linear-gradient(to right, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
}

.gallery:after {
  right: 0;
  background:  linear-gradient(to left, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
}
*/
.gallery__stream {
  position: relative;
  top: 0;
  transform: translateY(-50%);
  width: 100%;
}

.gallery__item {
  position: relative;
  position: absolute;
  width: 290px;
  height: 250px;
  transition: 1s all ease;
  background: #eeeeee;
  border-radius: 5px;
  overflow: hidden;
}

.gallery__item .preview {
  margin: 0;
}

.gallery__item .top {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px auto;
}

.gallery__item .top div {
  text-align: left;
  width: 100%;
}

.gallery__item:after {
  content: '';
  position: absolute;
  margin: 20px auto;
  inset: 0;
  width: calc(100% - 40px);
  border-radius: 10px;
  height: 90px;
  background-position: center;
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}

.gallery__item .top .image {
  width: calc(55px + 55px + 40px);
} 

.gallery__item .top .text {
  padding-right: 20px;
} 

.gallery__item .top .text span {
  color: #000000;
} 

.gallery__item .top .text span:first-child {
  font-size: 19px;
} 

.gallery__item .top .text span:last-child {
  font-size: 13px;
} 

.gallery__item .preview {
  margin-top: 0;
  padding: 0;
  text-align: justify;
} 

.gallery__item .top .image .img {
  width: 55px;
  height: 55px;
  background-position: center;
  background-size: cover;
  margin: 0 20px 0 20px;
  border-radius: 8em;
}

.gallery__item:nth-child(1) {
  left: 0;
  z-index: 1;
  transform: translateX(-100%) scale(.8);
}

.gallery__item:nth-child(2) {
  left: 0;
  z-index: 2;
  transform: translateX(-50%) scale(.8);
}

.gallery__item:nth-child(3) {
  left: 50%;
  z-index: 4;
  transform: translateX(-50%) scale(1);
}

.gallery__item:nth-child(4) {
  left: 100%;
  z-index: 2;
  transform: translateX(-50%) scale(.8);
}

.gallery__item:nth-child(n+5) {
  left: 100%;
  z-index: 1;
  transform: scale(.8);
}

/* Controllers */
.slide_element .controls {
  display: flex;
  flex-direction: row;
  transform: translateY(-40px);
}

.gallery__prev,
.gallery__next {
  width: 100%;
  text-align: center;
}

.gallery__prev,
.gallery__next svg polyline {
  stroke: #000000;
}

.gallery__prev,
.gallery__next svg line {
  stroke: #000000;
}

.gallery__prev {
  left: 0;
}

.gallery__next {
  right: 0;
}

/*========== large slides ==========*/


.large.gallery  {
  margin: 70px auto;
  position: relative;
  width: 100%;
  height: 500px;
  max-height: 500px;
  overflow: hidden;
}

.large.gallery :before,
.large.gallery :after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  z-index: 3;
}
/*
.large.gallery :before {
  left: 0;
  background:  linear-gradient(to right, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
}

.large.gallery :after {
  right: 0;
  background:  linear-gradient(to left, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
}
*/
.large.gallery__stream {
  position: relative;
  top: 0;
  transform: translateY(-50%);
  width: 100%;
}

.large.gallery__item {
  position: relative;
  position: absolute;
  width: 90%;
  height: 500px;
  transition: 1s all ease;
  background: #eeeeee;
  border-radius: 5px;
  overflow: hidden;
}

.large.gallery__item .top {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px auto;
}

.large.gallery__item .top div {
  text-align: left;
  width: 100%;
}

.large.gallery__item:after {
  content: '';
  position: absolute;
  margin: 20px auto;
  inset: 0;
  width: calc(100% - 40px);
  border-radius: 10px;
  height: 90px;
  background-position: center;
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}

.large.gallery__item .top .text {
  padding-left: 20px;
  padding-right: 20px;
} 

.large.gallery__item .top .text span {
  color: #000000;
} 

.large.gallery__item .top .text span:first-child {
  font-size: 2.5em;
} 

.large.gallery__item .top .text span:last-child {
  font-size: 13px;
} 

.large.gallery__item .preview {
  margin-top: 0;
  padding: 0;
  text-align: justify;
  margin-bottom: 40px;
} 

.large.gallery__item:nth-child(1) {
  left: 0;
  z-index: 1;
  transform: translateX(-100%) scale(.8);
}

.large.gallery__item:nth-child(2) {
  left: 0;
  z-index: 2;
  transform: translateX(-50%) scale(.8);
}

.large.gallery__item:nth-child(3) {
  left: 50%;
  z-index: 4;
  transform: translateX(-50%) scale(1);
}

.large.gallery__item:nth-child(4) {
  left: 100%;
  z-index: 2;
  transform: translateX(-50%) scale(.8);
}

.large.gallery__item:nth-child(n+5) {
  left: 100%;
  z-index: 1;
  transform: scale(.8);
}

/* Controllers */
.slide_element .controls {
  display: flex;
  flex-direction: row;
  transform: translateY(-40px);
}

.large.gallery__prev,
.large.gallery__next {
  width: 100%;
  text-align: center;
}

.large.gallery__prev,
.large.gallery__next svg polyline {
  stroke: #000000;
}

.large.gallery__prev,
.large.gallery__next svg line {
  stroke: #000000;
}

.large.gallery__prev {
  left: 0;
}

.large.gallery__next {
  right: 0;
}
